& when (@media-common = true) {
    .banner_main {

        h1 { 
            display: inline-block;
            color: @color-drexel-black; 
            margin-bottom: 1rem;
            font-size: 32px;
            letter-spacing: @indent__xs;
            background-color: rgba(243, 243, 243, 0.8);
        }
        p { 
            display: inline-block;
            color: @color-drexel-gray;
            margin-bottom: 3rem !important; 
            background-color: rgba(243, 243, 243, 0.8);
        }
    }

    div[data-content-type="buttons"] .pagebuilder-button-link, div.pagebuilder-collage-content button.pagebuilder-button-link, .action.primary {
        .lib-font-size(16);
        text-transform: uppercase;
        color: @color-drexel-black;
        background: transparent;
        padding: @indent__xs 0px;
        padding: 0px;
        border: none;
        border-bottom: 1px solid @color-drexel-black;
        font-weight: @font-weight__light;
        cursor: pointer;
        border-radius: 0px;
        text-decoration: none;
    
        &:hover {
            color: @color-drexel-black;
            background: transparent;
            padding: @indent__xs 0px;
            padding: 0px;
            border: none;
            border-bottom: 1px solid @color-drexel-gray;
            font-weight: @font-weight__light;
            cursor: pointer;
            border-radius: 0px;
            text-decoration: none;
        }
    }

    hr[data-element="line"] {
        width: 30px !important;
        height: 3px;
        background: #222;
    }
}
