.categories_main  {
    .categories_card{
        height: 310px;
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 320px;

        h2 {
            letter-spacing: 2px;
            margin-bottom: 1rem;
        }

        p {
            color: @color-drexel-gray;

            &:last-child {
                margin-bottom: 3rem;
            }
        }
    }
}
