// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@product-name-link__color: @color-drexel-gray;
@product-name-link__color__active: @color-drexel-black;
@product-name-link__color__hover: @color-drexel-black;
@product-name-link__color__visited: @color-drexel-black;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: none;
@product-name-link__text-decoration__hover: none;
@product-name-link__text-decoration__visited: none;

@product-item__hover__background-color: @color-white;
@product-item__hover__box-shadow: 0px 0px 0px 0 #fff;

@product-price__muted__color: @color-gray40;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Product Lists

    .product-heading {
        padding: 0px 15px;
        p {
            color: @color-drexel-gray;
        }
    }

    .products {
        margin: @indent__l 0;
    }

    .product {
        &-items {
            .lib-inline-block-space-container();
            &:extend(.abs-reset-list all);

            &.widget-product-grid {
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-wrap(wrap);
                justify-content: space-between;
            }

            .vertical-list &.widget-product-grid {
                display: block;
            }

        }

        &-item {
            .lib-inline-block-space-item();
            vertical-align: top;

            .products-grid & {
                width: calc(~'100% / 2');
                margin: 0px;
            }



            &:nth-child(2n + 1) {
                margin-left: 0;
            }

            &:extend(.abs-add-box-sizing all);

            &-name {
                &:extend(.abs-product-link all);
                .lib-font-size(14);
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                -webkit-hyphens: auto;
                color: @color-drexel-gray;
                display: block;
                hyphens: auto;
                margin: @indent__xs 0;
                word-wrap: break-word;
                text-transform: uppercase;

                a.product-item-link {
                    color: @color-drexel-gray;
                    transition: 0.2s;

                    &:hover {
                        color: @color-drexel-black;
                    }
                }
            }

            &-info {
                max-width: 100%;
                width: 152px;
                text-align: center;

                .vertical-list & {
                    .lib-vendor-prefix-display(flex);
                    text-align: left;
                    
                    .product-item-details {
                        padding-left: 15px;
                    }
                }

                .page-products & {
                    width: 240px;
                }

                .products-grid .product-items & .product-image-container {
                    width: 100% !important;

                    .vertical-list & {
                        width: 90px !important;
                    }
                    

                    .product-image-photo {
                        width: 100%;

                        .vertical-list & {
                            width: 90px;
                        }
                    }
                }
                
            }

            &-actions {
                font-size: 0;

                > * {
                    font-size: 1.4rem;
                }

                .actions-secondary {
                    display: none;
                    font-size: 1.4rem;
                    vertical-align: middle;

                    > button.action {
                        .lib-button-reset();
                    }

                    > .action {
                        &:extend(.abs-actions-addto all);
                        &:before {
                            margin: 0;
                        }
                        line-height: 35px;
                        text-align: center;
                        width: 100%;

                        span {
                            &:extend(.abs-visually-hidden all);
                        }
                    }
                }

                .actions-primary {
                    display: inline-block;
                    vertical-align: middle;
                    
                    button.action.primary {
                        .lib-font-size(16);
                        font-family: @font-family-name__oswald-regular;
                        font-weight: @font-weight__heavier;
                    }

                    
                    > .stock.unavailable {
                        line-height: 1;
                        padding-bottom: @indent__s;
                        padding-right: 24px;
                        padding-top: @indent__s;
                    }
                }
            }

            &-description {
                margin: @indent__m 0;
            }

            .product-reviews-summary {
                .rating-summary {
                    margin: 0 4px 0 0;
                }

                .reviews-actions {
                    font-size: @font-size__s;
                    margin-top: 5px;
                }
            }

            .price-box {
                margin: @indent__s 0 @indent__s;

                .price {
                    font-family: @font-family-name__oswald-regular;
                    font-weight: @font-weight__bold;
                    white-space: nowrap;
                }

                .price-label {
                    display: none;
                }
            }

            .old-price {
                margin: @indent__xs 0;

                .price {
                    font-weight: @font-weight__regular;
                    text-decoration: line-through;
                    .lib-font-size(14);

                }
            }

            .regular-price {
                .price-label {
                    display: none;
                }
            }

            .minimal-price {
                .price-container {
                    display: block;
                }
            }

            .minimal-price-link {
                margin-top: @indent__xs;
            }

            .price-from,
            .price-to {
                margin: 0;
            }

            .tocompare {
                .lib-icon-font-symbol(
                @icon-compare-full
                );
            }

            .tocart {
                .lib-font-size(13px);
                border-radius: 0;
                line-height: 1;
                padding-bottom: @indent__s;
                padding-top: @indent__s;
                white-space: nowrap;
            }

            .vertical-list .products-grid.grid & {
                width: 100%;
                margin-left: 0px;
            }
        }
    }

    .column.main {
        .product {
            &-items {
                margin-left: 0;
            }

            &-item {
                padding-left: 0;
            }
        }
    }

    .price-container {
        .price {
            .lib-font-size(16);
        }

        .price-including-tax + .price-excluding-tax,
        .weee {
            margin-top: @indent__xs;
        }

        .price-including-tax + .price-excluding-tax,
        .weee,
        .price-including-tax + .price-excluding-tax .price,
        .weee .price,
        .weee + .price-excluding-tax:before,
        .weee + .price-excluding-tax .price {
            .lib-font-size(11);
        }

        .weee {
            &:before {
                content: '(' attr(data-label) ': ';
            }

            &:after {
                content: ')';
            }

            + .price-excluding-tax {
                &:before {
                    content: attr(data-label) ': ';
                }
            }
        }
    }

    .products-list {
        .product {
            &-item {
                display: table;
                width: 100%;

                &-info {
                    display: table-row;

                    .product-image-container {
                        width: 100%;

                        .vertical-list & {
                            width: 90px;
                        }
                    }
                }

                &-photo {
                    width: 100%;
                    display: table-cell;
                    padding: 0 @indent__l @indent__l 0;
                    vertical-align: top;
                    width: 1%;
                }

                &-details {
                    display: table-cell;
                    vertical-align: top;

                    .vertical-list & {
                        text-align: left;
                        padding: 0px 15px;
                    }
                }
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);

            .product-image-photo {
                width: 100%;
            }
        }
    }
}


// //
// //  Mobile
// //  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-list .product {
        &-item {
            table-layout: fixed;
            margin: 0px;
            padding: 15px;

            &-photo {
                padding: 0 @indent__s @indent__s 0;
            }
        }
    }
    
    .product-item-actions {
        .actions-primary {
            display: block;
        }
    }

    .vertical-list {
        .block-products-list.grid {
            .product-item-inner  {
                display: none;
            }
        }
    }

    .block.widget {
        .products-grid.grid {
            .product-items.widget-product-grid {
                .product-item {
                    width: calc(~'100% / 2');
                    margin: 0px;
                    padding: 15px;
            
                    .vertical-list & {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .product-item-info {
        .products-grid & {
            &:hover,
            &.active {
                .lib-css(background, @product-item__hover__background-color);
                .lib-css(box-shadow, @product-item__hover__box-shadow);
                margin: -10px;
                padding: 10px;
                position: relative;
                z-index: 9;

                .product-item-inner {
                    display: block;

                    .vertical-list & {
                        display: none;
                    }
                }
                .price-box {
                    display: none;

                    .vertical-list & {
                        display: block;
                    }
                }
                .sidebar & {
                    .product-item-photo {
                        left: 9px;
                        top: 9px;
                    }
                }
            }
            .vertical-list & {
                .lib-vendor-prefix-display(flex);
            }
        }
    }

    .product-item-inner {
        .products-grid & {
            .lib-css(background, @product-item__hover__background-color);
            border-top: none;
            left: 0;
            margin: 15px 0 0 -1px;
            padding: 0 9px 9px;
            position: absolute;
            right: -1px;
            z-index: 2;

            div.vertical-list[data-content-type="products"] .block-products-list.grid .block-content & {
                display: none;
            }
        }
    }

    .product-item-actions {
        display: block;
        
        .vertical-list & {
            display: none;
        }

        .products-grid & {
            margin: -@indent__s 0 @indent__s;
        }

        .actions-primary + .actions-secondary {
            display: none;
            vertical-align: middle;

            > .action {
                line-height: 35px;
                text-align: center;
                width: 35px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .actions-primary {
            display: inline-block;
        }
    }

    .page-products {
        .products-grid {
            .product-item-inner {
                &:before {
                    .lib-css(background, @product-item__hover__background-color);
                    content: '';
                    height: 3px;
                    left: 0;
                    position: absolute;
                    top: -2px;
                    width: 100%;
                    z-index: -1;
                }
            }
        }

        .product-item-actions {
            z-index: 1;
        }
    }

    .products-grid {
        .product-item-info {
            &:not(:hover) {
                &:not(.active) {
                    .product-item-inner {
                        &:extend(.abs-visually-hidden-desktop-s all);
                    }
                }
            }
        }
    }

    .block.widget {
        .products-grid.grid {
            .product-items.widget-product-grid {
                .product-item {
                    width: calc(~'100% / 2');
                    margin: 0px;
                    padding: 15px;
            
                    .vertical-list & {
                        width: 100%;
                    }
                }
            }
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .block.widget {
        .products-grid.grid {
            .product-items.widget-product-grid {
                .product-item {
                    width: calc(~'100% / 4');
                    margin: 0px;
                    padding: 15px;

                    &:last-child {
                        margin-left: 0px;
                    }
            
                    .vertical-list & {
                        width: 100%;
                        margin: 0px;
                        padding: 15px 0px;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {



}
